<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <section class="map-container">
          <div class="aspect-ratio">
            <leaflet-map>
              <tile-layer layer="esriTopographic"></tile-layer>
              <map-options>{ "showZoomControls": false }</map-options>
              <geo-json id="line"><%= t.include("route.geojson") %></geo-json>
            </leaflet-map>
          </div>
        </section>
        <section class="text-container">
          <div class="zoom-controls">
            <a class="zoom in">Previous</a>
            <a class="zoom out">Next</a>
          </div>
          <div class="caption"></div>
        </section>
      </main>
    </responsive-child>

    <script>
window.linkStops = <%= JSON.stringify(csv.stations) %>;
window.busStops = <%= JSON.stringify(csv.stops) %>;
<%
var commonmark = require("commonmark");
var writer = new commonmark.HtmlRenderer();
var reader = new commonmark.Parser();
var text = {};
for (var k in json.LightRailStations_text) {
  text[k] = writer.render(reader.parse(json.LightRailStations_text[k].content));
}
%>
window.stageText = <%= JSON.stringify(text) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
